body{
    background-color: rgba(128, 128, 128, 0.1);
}
p{
    font-size: 20px;
}
.card{
    border-color: #387b8a;
    border-width: 5px;
    width: 25rem;
    height: 10rem;
}
.card img{
    width: 40%;
}
.select-texto{
    font-size: 1.5rem;
}
.btn-primary{
    background-color: #4f81bd;
    border-width: 5px;
    border-color: #387b8a;
}

.btn-primary:hover{
    background-color: #387b8a;
    border-color: #387b8a;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #387b8a;
    border-color: #387b8a;
}
.btn-primary:focus{
    background-color: #387b8a;
    border-color: #387b8a;
}
.btn-primary:focus-within{
    background-color: #387b8a;
    border-color: #387b8a;
}
.btn-primary:focus-visible{
    background-color: #387b8a;
    border-color: #387b8a;
}
.btn-primary:target{
    background-color: #387b8a;
    border-color: #387b8a;
}
.btn-primary:visited{
    background-color: #387b8a;
    border-color: #387b8a;
} 

.modal-content{
    border-width: 5px;
    border-color: #387b8a;
}
.modal-footer{
    border-top: 2px solid rgb(56, 123, 138);
    margin:0 2rem;
    padding:0.75rem 0;    
}
button.close{
    background-color: red;
    border-radius: 100px;
    
}
